@import './color.scss';

// statistics
.stat-section {
    width: 600px;
    margin: 30px auto;
}

// header
.stat-header {
    display: flex;
    align-items: center;
    font-size: 14px;
    .radio {
        margin: 0 7px 0 0;
    }
    .label {
        margin-right: 20px;
    }
    .text {
        margin-left: auto;
        margin-right: 15px;
    }
    .total {
        color: $main;
        font-weight: 600;
    }
}

.chart {
    display: flex;
    justify-content: center;
    margin: 20px 0;
    &.bar {
        flex-direction: column;
        border-top: 2px solid $border;
    }
}

.bar-row {
    position: relative;
    display: flex;
    padding: 10px;
    border-bottom: 1px solid $border;
    font-size: 14px;
    .percent {
        position: absolute;
        left: 70px;
        margin: 0 15px;
        color: $main;
    }
    .bar {
        position: absolute;
        left: 140px;
        width: 250px;
        height: 17px;
        margin: 0 10px;
        .fill {
            background-color: $main;
        }
    }
    .price {
        margin-left: auto;
    }
}