@import './color.scss';

.account {
    max-width: 1000px;
    margin: 40px auto 0 auto;
}

// month section
#month {
    width: fit-content;
    display: flex;
    align-items: center;
    margin: 20px auto;
    & .text {
        margin: 0 15px;
        font-size: 24px;
        font-weight: 600;
        letter-spacing: 0.2;
        color: $dark;
    }
    & .month-btn {
        background: none;
        font-size: 25px;
        color: $main;
        cursor: pointer;
        &:hover {
            color: $orange;
        }
    }
}

// tab section
#tab {
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    width: 550px;
    margin: 10px auto;
    padding: 5px;
    border-radius: 30px;
    background-color: $main;
    color: $white;
    & .each-tab {
        padding: 5px 74px;
        border-radius: 30px;
        cursor: pointer;
        &.selected {
            background-color: $lightgray;
            color: $main;
        }
    }
}

// log form section
.form-section {
    width: 650px;
    margin: 20px auto;
}

.log-form {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    #reset {
        position: absolute;
        padding: 5px;
        top: 10px;
        right: 0;
        background-color: $border;
        font-size: 13px;
        color: $dark;
        cursor: pointer;
    }
    & .radios {
        flex-direction: row;
        font-size: 14px;
    }
    & .label {
        margin-right: 10px;
        font-size: 14px;
    }
    & .select {
        width: 120px;
        margin-right: 15px;
        padding: 5px 10px;
        border: none;
        border-bottom: 2px solid $border;
        background: none;
    }
    & .txt-input {
        width: 120px;
        margin-right: 15px;
        padding: 5px 10px;
        background: none;
        border: none;
        border-bottom: 2px solid $border;
        &.contents {
            width: 330px;
        }
    }
    & .inputs {
        padding: 10px;
        border: none;
    }
    & .btn {
        margin: 10px 0;
        padding: 13px;
        background-color: $main;
        color: $white;
        font-size: 16px;
        font-weight: 600;
        cursor: pointer;
        &:hover {
            background-color: $orange;
        }
    }
}

// breakdown
.breakdown {
    width: 700px;
    margin: 10px auto;
}

// total sum
.total-sum {
    width: fit-content;
    margin: 10px auto;
    font-size: 14px;
    & .select {
        display: flex;
        align-items: center;
        margin: 5px 0;
        letter-spacing: 0.4px;
    }
}

.select .checkbox {
    margin: 0 5px;
    &:checked {
        background-color: $main;
    }
}

.select .text {
    &.in {
        color: $orange;
    }
    &.out {
        color: $darkMain;
    }
    & .sum {
        margin-left: auto;
    }
}

// log rows

.log-rows {
    display: flex;
    flex-direction: column;
}

.day-log {
    display: flex;
    flex-direction: column;
    border-top: 2px solid $border;
    font-size: 14.5px;
    & > * {
        display: flex;
        align-items: center;
        padding: 7px 10px;
    }
}

.day-log .day-desc {
    padding: 9px;
    font-size: 13.5px;
    & .date {
        font-size: 15px;
        font-weight: 600;
        margin-right: 6px;
    }
    & .day {
        font-size: 13.5px;
        color: $gray;
    }
    & .in {
        margin: 0 10px 0 auto;
        color: $orange;
    }
    & .out {
        color: $darkMain;
    }
}

.day-log .log-row {
    border-top: 1px solid $border;
    .category {
        width: 80px;
        padding: 5px 0;
        background-color: $main;
        border-radius: 20px;
        text-align: center;
        font-size: 14px;
        color: $white;
    }
    .contents {
        width: 370px;
        margin-left: 10px;
    }
    .payment {
        width: 100px;
        text-align: center;
    }
    .price {
        margin-left: auto;
        font-weight: 600;
    }
    .edit {
        visibility: hidden;
        position: absolute;
        left: 50%;
        padding: 4px 7px;
        background-color: $gray;
        border-radius: 10px;
        font-size: 12px;
        color: $white;
        cursor: pointer;
    }
    &:hover {
        background-color: rgba($main, 0.3);
        .edit {
            visibility: visible;
        }
    }
}